fastapi
uvicorn
motor
pymongo
pydantic
python-dotenv
email-validator
bcrypt
python-jose
passlib
beanie
aiohttp
cryptography
requests 
python-magic>=0.4.27,<0.5
yt_dlp
pypdf
docx2txt
moviepy
faiss-cpu
cohere
transformers
torch
python-multipart
PyJWT
langchain-text-splitters
langchain
langchain-community
langchain-cohere
langchain-mongodb
rank_bm25
