fastapi==0.104.1
uvicorn==0.24.0
motor==3.2.0
pymongo==4.4.1
pydantic==2.4.2
python-dotenv==1.0.0
email-validator==2.1.0
bcrypt==4.0.1
python-jose==3.3.0
passlib==1.7.4
beanie==1.23.5
aiohttp>=3.8,<4.0
cryptography==42.0.5 
requests==2.31.0 
python-magic>=0.4.27,<0.5
yt_dlp
textract
moviepy
faiss-cpu
cohere
transformers
torch
python-multipart
PyJWT
langchain-text-splitters
langchain
langchain-community
langchain-cohere
langchain-mongodb
